@model ninja.Models.InvoiceViewModels

@{
    ViewBag.Title = "Delete";
}
<h3>¿Esta seguro que quiere la invoice nro.: @Model.InvoiceId?</h3>
<div>
    <hr />
    <div class="arrow" style="text-align:left">
        <dl>
            <dt>
                @Html.Label("Numero Invoice")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceId)
            </dd>

        </dl>
        <dl>
            <dt>
                @Html.Label("Type")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

        </dl>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="btn-group-sm" >
            <button class="btn btn-primary btn-group-sm " type="submit" value="aceptar" name="aceptar">Aceptar</button>
            <button class="btn btn-primary btn-group-sm" type="submit" value="cancelar" name="action">Cancelar</button>
         </div>
        }
    </div>