@model ninja.Models.InvoiceViewModels

@{
    ViewBag.Title = "Edit";
}

<h3>Edit invoice nro.: #@Model.InvoiceId</h3>
<a class="btn btn-primary pull-right" href="~/Invoice/CreateDetail?xInvoiceId=@Model.InvoiceId">New Item</a>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="text-align:left">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.InvoiceId)

        <div class="col-xs-12">
            <div class="form-group" style="align-content:flex-start">
                <div class="col-xs-3 text-left">
                    @Html.Label("#", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InvoiceId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InvoiceId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-xs-3 text-left">
                    @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <ul id="invoicedor-detalle" class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-1">
                            <b>#Item</b>
                        </div>
                        <div class="col-xs-2">
                            <b>Description</b>
                        </div>
                        <div class="col-xs-1 text-left">
                            <b>Amount</b>
                        </div>
                        <div class="col-xs-2 text-left">
                            <b>Unit Price</b>
                        </div>
                        <div class="col-xs-2 text-left">
                            <b>Total Amount</b>
                        </div>
                        <div class="col-xs-2 text-left">
                            <b>Total Amount w/Taxes</b>
                        </div>
                    </div>
                </li>
                @foreach (var d in Model.InvoiceDetail)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1 text-center">
                                @d.DetailID
                            </div>
                            <div class="col-xs-2">
                                @Html.ActionLink(d.Description, "InvoiceDetail", new { xInvoiceId = Model.InvoiceId, xDetailID = d.DetailID })
                            </div>
                            <div class="col-xs-1 text-center">
                                @d.Amount
                            </div>
                            <div class="col-xs-2 text-left">
                                @string.Format("{0:c}", d.UnitPrice)
                            </div>
                            <div class="col-xs-2 text-left">
                                @string.Format("{0:c}", d.TotalPrice)
                            </div>
                            <div class="col-xs-2 text-left">
                                @string.Format("{0:c}", d.TotalPriceWithTaxes)
                            </div>
                            <div class="col-xs-2 text-left">
                                @Html.ActionLink("Edit", "EditDetail", new { xInvoiceId = Model.InvoiceId, xDetailID = d.DetailID }) |
                                @Html.ActionLink("Delete", "DeleteDetail", new { xInvoiceId = Model.InvoiceId, xDetailID = d.DetailID })
                            </div>
                        </div>
                    </li>
                }
                @if (Model.InvoiceDetail.Count > 0)
                {
                    <li class="list-group-item text-right" style="font-size:12px;">
                        <b> Total s/Taxes:  @string.Format("{0:c}", Model.CalculateInvoiceTotalPriceWithOutTaxes())</b>
                    </li>
                    <li class="list-group-item text-right" style="font-size:12px;">
                        <b> Total c/Taxes:  @string.Format("{0:c}", Model.CalculateInvoiceTotalPriceWithTaxes())</b><br>
                    </li>
                }
            </ul>
        </div>
        <div class="btn-group-sm">
            <button class="btn btn-primary btn-group-sm " type="submit" value="SaveType" name="aceptar">Save</button>
            @Html.ActionLink("Back", "Index")

        </div>
    </div>
}
@section Scripts{
    <script>
        $("#InvoiceID").on('input', function (e) {
            if (!/^[\d]*$/i.test(this.value)) {
                this.value = this.value.replace(/[^\d]+/ig, "");
            }
        });
    </script>
}