@model IList<ninja.model.Entity.Invoice>
@{
    ViewBag.Title = "Home Page";
}
<h2 class="page-header">
    <a class="btn btn-primary pull-right" href="~/Invoice/Create">Nueva Factura</a>
    Facturas
</h2>

<table class="table table-bordered table-striped" id="ListadoFacturas">
    <thead>
        <tr>
            <th class="text-center" style="width:210px">Numero Factura</th>
            <th class="text-center" style="width:80px">Tipo</th>
            <th class="text-center" style="width:10px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.Id.ToString(), "Details", new { id = item.Id })
            </td>
            <td class="text-center">@item.Type</td>
            <td style="text-align:center;">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>

        function DeleteItem(id) {
            var params = { xId: id };

        var miUrl = '@Url.Action("Borrar","Invoice")'
        $.ajax({
            url: miUrl,
            method: "post",
            data: params,
            success: function (response) {
                location.reload();
            },
        });


        }
    </script>
}